body {
  margin-top: 0;
}

.Light {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: red;
  opacity: 0.4;
  transition: all 0.3s;
}

.Light:hover {
  opacity: 1 !important;
  box-shadow: 6px 12px 12px 12px gold;
}

.trafficLights {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-style: solid;
  width: fit-content;
  margin: auto;
}

.trafficPole {
  width: 10px;
  height: 100px;
  background-color: black;
  margin: auto;
}
